body {
    background: #222;
    color: #ccc;
    margin: 3em auto;
    width: 567px;
    font: 28px/34px "Helvetica Neue", Helvetica, Arial, sans-serif; }
.note {
    font-size: 14px;
    float: right; }
a { color: #ccc; }
.col {
    margin: 0px;
    float: left; }
.legend {margin-top: 10px;}
.colpair {
    float: left;
    height: 355px; }
:not(:last-child).colpair {
    margin-right: 20px;
    border-right: 1px solid #444; }
.unit {
    width: 55px;
    height: 55px;
    margin: 0 20px 20px 0;
    text-align: center; }
.off { background: #444; }
.on { background: #44f; }